<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" type="text/css" href="design.css">
    <meta charset="UTF-8">
    <title>Activities</title>
</head>
<body>
<div class="container">
    <h1 id="centeractivites">Adventure acitivies</h1>
    <div class="containerbtn">
        <a href="Gokart.html">
            <div class="btn">
                <p>Gokart</p>
            </div>
        </a>
        <div class="btn">
            <p>Paintball</p>
        </div>
        <div class="btn">
            <p>Fodbold</p>
        </div>
        <div class="btn">
            <p>Minigolf</p>
        </div>
    </div>
</div>



</body>
</html>