<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head><link rel="stylesheet" type="text/css" href="design.css">

    <meta charset="UTF-8">
    <title>Activities</title>
    <link rel="stylesheet" href="../static/design.css">
</head>
<body>
<div class="container">
    <h1 id="centeractivites">Adventure acitivies</h1>
    <div class="containerbtn">
        <a href="Create_Activity">&raquo; Opret ny aktivitet</a>
        <a th:each="Activity: ${activityList}" th:href="${'/Read_Activity?ActivityID=' + Activity.id}">
            <div class="btn">
                <p th:text="${Activity.navn}"></p>
            </div>
        </a>
    </div>
</div>
</body>
</html>