<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Rediger Aktivitet</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>

<div class="container">

    <h1>Rediger aktivitet</h1>

    <form action="/redigerAktivitet" method="post">

        <label>Aktivitets ID</label><br>
        <input type="text" th:value="${Activity.id}" name="Aktivitets ID"><br>

        <label>Aktivitetsnavn</label><br>
        <input type="text" th:value="${Activity.navn}" name="Aktivitetsnavn"><br>

        <input type="submit" class="btn" value="Opdater">

    </form>
</div>
</body>
</html>