<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Reservations liste</title>
    <link rel="stylesheet" href="design.css">
</head>

<body>
<table width="100%" class="laro" cellspacing="0" cellpadding="0">
    <thead>

    <tr>
        <th th:text="{Activity_ID}"/>
        <th th:text="{Reservationlist_ID}"/>
        <th th:text="{Reservation_ID}"/>
        <th class="edit ">
            <a th:href="${'/Edit_Activity?ActivityID=' + Activity.id}">Rediger</a>}
        </th>
        <th class="delete">Slet</th>
    </tr>

    </thead>
    <td>Id</td>
    <td>Reservationslist</td>
    <td></td>
</table>
</body>
</html>